---
layout: default
---

<div class="home" id="home">
  <h1 class="pageTitle">{% t global.recent_post %}</h1>
  <ul class="posts noList">
    {% for post in site.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        {% if site.lang == "en" %}
          <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl_root }}">{{ post.title }}</a></h3>
        {% else %}
          <h3><a class="post-link" href="{{site.baseurl_root }}/{{site.lang}}{{post.url}}">{{ post.title }}</a></h3>
        {% endif %}
        <p class="description">
          {% if post.description %}
            {{ post.description | strip_html | strip_newlines | truncate: 250 }}
          {% else %}
            {{ post.content | strip_html | strip_newlines | truncate: 250 }}
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
</div>
