<!-- begin .header -->
<div class="header">
 <div class="container">
     <h1 class="logo"><a href="{{ site.baseurl_root }}/">{{ site.title }}</a></h1>
     <nav class="nav-collapse">
         <ul class="noList">
         		{% if site.lang == "es" %}
		            <li> <a href="{{site.baseurl_root }}/">{% t global.home %}</a></li>
                    <li> <a href="{{site.baseurl_root }}/tag">{% t global.tag.title %}</a></li>
                    <li> <a href="{{site.baseurl_root }}/about">{% t global.about %}</a></li>
                    <li> <a href="{{site.baseurl_root }}/contact">{% t global.contact.title %}</a></li>
		        {% else %}
		            <li> <a href="{{site.baseurl_root }}/{{ site.lang }}">{% t global.home %}</a></li>
                    <li> <a href="{{site.baseurl_root }}/{{ site.lang }}/tag">{% t global.tag.title %}</a></li>
                    <li> <a href="{{site.baseurl_root }}/{{ site.lang }}/about">{% t global.about %}</a></li>
                    <li> <a href="{{site.baseurl_root }}/{{ site.lang }}/contact">{% t global.contact.title %}</a></li>
		        {% endif %}
         </ul>
     </nav>

 </div>
</div>
<!-- end .header -->